.grey {
	background: lightgray;
	border-radius: 10px;
}

.icon-thing {
  --size: 1vw;
  width: var(--size);
  height: var(--size);
  position: absolute;
  top: -5vh;
  pointer-events: none;
}

.icon-image {
  opacity: 0.9;
  pointer-events: none;
}

@keyframes snowfall {
  0% {
    transform: translate3d(var(--left-ini), 0, 0);
  }
  100% {
    transform: translate3d(var(--left-end), 105vh, 0);
  }
}

@for $i from 1 through 999 {
  .icon-thing:nth-child(#{$i}) {
    --size: #{random(3) + 1}vw;
    --left-ini: #{random(20) - 10}vw;
    --left-end: #{random(20) - 10}vw;
    left: #{random(100)}vw;
    animation: snowfall #{5 + random(10)}s linear infinite;
    animation-delay: -#{random(10)}s;
  }
}